################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AnalisysChampioship
/AnalysisChampionship/bin
/AnalysisChampionship/obj/Debug
/packages
