@model AnalysisChampionship.Models.AnaliseTime
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tipo Análise</th>
                        <th>Partidas</th>
                        <th>% +1.5</th>
                        <th>% +2.5</th>
                        <th>% -3.5</th>
                        <th>Ambas</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        Html.RenderPartial("_AnaliseGols", Model);
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>