
@model AnalysisChampionship.Models.PartidaNBA

@using (Html.BeginForm("SalvarNBA", "Partida", FormMethod.Post))
{
    <div class="form-group">
        <select name="TimeCasaID" autofocus>
            @foreach (var item in ViewData["Times"] as List<AnalysisChampionship.Models.TimeNBA>)
            {
                <option value="@item.ID">@item.Nome</option>

            }
        </select>
    </div>
    <div class="form-group">
        <input type="text" name="PontosCasa" placeholder="Pontos" />
        <input type="text" name="RebotesCasa" placeholder="Rebotes" />
        <input type="text" name="AssistenciasCasa" placeholder="Assitencias" />
    </div>
    <div class="form-group">
        <select name="TimeForaID">
            @foreach (var item in ViewData["Times"] as List<AnalysisChampionship.Models.TimeNBA>)
            {
                <option value="@item.ID">@item.Nome</option>

            }
        </select>
    </div>
    <div class="form-group">
        <input type="text" name="PontosFora" placeholder="Pontos" />
        <input type="text" name="RebotesFora" placeholder="Rebotes" />
        <input type="text" name="AssistenciasFora" placeholder="Assitencias" />
    </div>
    <input type="submit" class="btn btn-primary btn-user btn-block" value="Salvar" />
}


